<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Dziękuję!</title>
</head>
<body>
    <div class="container">
        <img src="../static/logo.png" alt="" class="logo" />
        <h1>Dziękujemy!</h1>
        <h2>Dziękujemy za podzielenie się Twoim doświadczeniem. Twoje uwagi zostaną przez nas wzięte pod uwagę w celu poprawy jakości świadczenia naszych usług.</h2>
        <br>
        <a href="..">Strona główna</a>
    </div>
    
</body>
</html>